#body {
  max-width: 800px;
  margin-bottom: 200px;
}

#footer {
  background-color: white;
  display: table;
  position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 2px solid;
}

.footer-row {
  display: table-row;
}

.footer-cell-label {
  display: table-cell;
  width: 120px;
  font-size: 1.5em;
}

.footer-cell-range {
  display: table-cell;
}

input[type="range"] {
  width: 85%;
  margin: 12px;
  max-width: 800px;
}

button {
  font-size: 24px;
}

#volume {
  max-width: 200px;
}

#xfade {
  max-width: 200px;
}

.section-header {
  font-size: 1.25em;
}

.section-number {
  font-weight: bold;
}

td.method-name {
  text-align: right;
}

td:not(.method-name) {
  text-align: center;
}