argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==0.24.0
async-generator==1.10
attrs==21.4.0
audioread==2.1.9
backcall==0.2.0
bleach==4.1.0
Brotli==1.0.9
certifi==2018.1.18
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cryptography==2.1.4
cycler==0.11.0
Cython==0.29.24
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
fire==0.1.3
Flask==2.0.1
Flask-Cors==3.0.10
future==0.18.2
idna==2.6
importlib-metadata==4.8.3
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.2.0
jukebox @ git+https://github.com/chrisdonahue/jukebox.git@7e0a38b679ff3f64987d8297d9d0eb5a046880c1
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
librosa==0.7.2
llvmlite==0.31.0
madmom==0.16.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mido==1.2.10
mir-eval==0.7
mistune==0.8.4
mpi4py==3.0.3
mutagen==1.45.1
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
notebook==6.4.10
numba==0.48.0
numpy==1.19.5
packaging==21.3
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pretty-midi==0.2.9
prometheus-client==0.14.1
prompt-toolkit==3.0.30
ptyprocess==0.7.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.15.0
pyFluidSynth==1.3.0
Pygments==2.12.0
pygobject==3.26.1
pyparsing==3.0.9
pyrsistent==0.18.0
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.8.2
pyxdg==0.25
pyzmq==23.2.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.26.0
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.5.4
SecretStorage==2.3.1
Send2Trash==1.8.0
six==1.11.0
SoundFile==0.10.3.post1
ssh-import-id==5.7
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
torch==1.4.0+cu101
tornado==6.1
tqdm==4.45.0
traitlets==4.3.3
typing-extensions==4.1.1
unattended-upgrades==0.1
Unidecode==1.1.1
urllib3==1.22
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==2.0.3
widgetsnbextension==3.6.1
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git@926ccc84ef91498f3147b07d15eb5f40cd070471
zipp==3.6.0
